@font-face {
  font-family: 'SF-UI-Display-Regular';
  src: url(../fonts/SF-UI-Display-Regular.ttf);
}

@font-face {
  font-family: 'SF-UI-Display-Bold';
  src: url(../fonts/SF-UI-Display-Bold.ttf);
}

@font-face {
  font-family: 'SF-UI-Display-Medium';
  src: url(../fonts/SF-UI-Display-Medium.ttf);
}

@font-face {
  font-family: 'SF-UI-Display-Heavy';
  src: url(../fonts/SF-UI-Display-Heavy.otf);
}

@font-face {
  font-family: 'SF-UI-Display-Light';
  src: url(../fonts/SF-UI-Display-Light.ttf);
}
