.overlay,
.loading-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay {
    display: none;
    z-index: 1010;
    background: rgba(255, 255, 255, 0.7);
}
.loading-img {
    z-index: 1020;
    /*background: transparent url('../img/ajax-loader1.gif') 50% 50% no-repeat;*/
    background: transparent url('../images/ajax-loader1.gif') 50% 0% no-repeat;
}
.my-pointer {
    cursor: pointer;
}
