*, p, h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0;
	padding: 0;
	font-size: 14px;
	outline: none!important;
}

ul, ol {
	list-style-type: none;
}

a, a:hover, a:focus {
	text-decoration: none;
}

a, span {
  display: inline-block;
}

a:hover{
  transition: 300ms;
}

body {
  font-family: 'SF-UI-Display-Regular';
  font-size: 14px;
  background: url(../images/bg-body.jpg);
  background-size: cover;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.block-banner {
	margin-bottom: 15px;
}

.block-banner a {
	display: block;
}

.block-banner img {
	width: 100%;
}

.main-content .sidebar {
	width: 295px;
	float: left;
	margin-right: 15px;
}

.main-content .primary {
	width: 890px;
	float: right;
}

.list-btn {
	overflow: hidden;
	margin-bottom: 10px;
}

.list-btn li {
	width: 142px;
	float: left;
	margin-right: 11px;
}

.list-btn li:last-child {
	margin-right: 0;
}

.list-btn li a {
	font-size: 16px;
	font-family: 'SF-UI-Display-Bold';
	color: #eceef2;
	background: #292929;
	text-transform: uppercase;
	width: 100%;
	height: 44px;
	text-align: center;
	line-height: 44px;
	border-radius: 4px;
}

.list-btn li.active a {
	background: #68094b;
	background: -moz-linear-gradient(left, #68094b 0%, #ab0c29 100%); 
	background: -webkit-linear-gradient(left, #68094b 0%,#ab0c29 100%);
	background: linear-gradient(to right, #68094b 0%,#ab0c29 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68094b', endColorstr='#ab0c29',GradientType=1 );
}

.widget-sidebar {
	margin-bottom: 10px;
}

.widget-sidebar h2 {
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'SF-UI-Display-Bold';
	color: #eceff3;
	background: #0f2348;
	padding: 13px 20px;
	border-radius: 4px 4px 0 0
}

.widget-sidebar-1 ul li {
	background: #232425;
	margin-bottom: 1px;
	padding: 9px 10px;
}

.widget-sidebar-1 ul li:last-child {
	border-radius: 0 0 4px 4px;
}

.widget-sidebar-1 label {
	margin: 0;
}

.fake-checkbox {
  position: relative;
  padding: 0 0 0px 30px;
  color: #aeaeae;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}

.fake-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.fake-checkbox > span {
  position: absolute;
  display: inline-block;
  width: 19px;
  height: 18px;
  background: url(../images/check-box.png) no-repeat 0 0 scroll transparent;
  left: 0;
  top: 1px;
}

.fake-checkbox input:checked + span {
  background: url(../images/check-box-checked.png) no-repeat 0 0 scroll transparent;
}


.box-choose {
	padding: 7px 7px 10px;
	background: url(../images/shadow.png);
}

.box-choose .type {
	width: 185px;
	float: left;
}

.box-choose .table {
	width: 90px;
	float: right;
	margin-bottom: 0;
}

.SumoSelect > .optWrapper > .options  li.opt label, 
.SumoSelect > .CaptionCont, .SumoSelect .select-all > label {
	font-weight: normal;
	color: #3b3b3b;
}

.box-choose .type .SumoSelect {
	width: 185px;
}

.box-choose .table .SumoSelect {
	width: 90px;
}

.box-choose .SumoSelect > .CaptionCont > span,
.box-choose .SumoSelect label {
	font-size: 12px!important;
	margin-bottom: 0;
}

.box-choose .SumoSelect > .CaptionCont {
	background: #111;
	border: 0;
	height: 28px;
	line-height: 20px;
}

.box-choose .SumoSelect > .CaptionCont > span {
	color: #fff;
}

.SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont, .SumoSelect.open > .CaptionCont {
	box-shadow: 0 0 0;
}


.SumoSelect:hover,
.SumoSelect > .CaptionCont:hover,
.SumoSelect > .CaptionCont > span:hover {
	cursor: pointer!important;
}

.SumoSelect > .CaptionCont {
	border-radius: 4px;
}

.SumoSelect.open > .optWrapper {
	top: 30px;
}

.SumoSelect > .CaptionCont > label > i {
	width: 10px;
	height: 4px;
	background: url(../images/arrow.png) no-repeat;
}

.SumoSelect > .optWrapper > .options  li.opt {
	border: none;
	background: #e1e1e1;
	padding-left: 10px;
}

.SumoSelect > .optWrapper > .options li.opt:hover {
	background: #e1e1e1;
}

.SumoSelect > .optWrapper > .options li.opt:hover label {
	color: #1b56c0;
}


.table-data tr td {
	text-align: center;
}

.table-data tr td:nth-child(2) {
	text-align: left;
}

.table-data.table-title tr td:nth-child(2) {
	text-align: center;
}

.table-data.table-sort tr td:nth-child(2) {
	padding-left: 10px;
}

.widget-sidebar .table-data tr td:nth-child(1) {
	width: 40px;
}

.widget-sidebar .table-data.table-title tr td:nth-child(1) {
	padding-left: 5px;
}

.widget-sidebar .table-data.table-title tr td:nth-child(5) {
	padding-right: 5px;
}

.widget-sidebar .table-data tr td:nth-child(2) {
	width: 135px;
}

.widget-sidebar .table-data tr td:nth-child(3) {
	width: 40px;
}

.widget-sidebar .table-data tr td:nth-child(4) {
	width: 40px;
}

.widget-sidebar .table-data tr td:nth-child(5) {
	width: 40px;
}

.widget-sidebar .table-sort tr td {
	padding: 11px 0;
}

.sort-area {
	height: 380px;
}

.table-sort tr,
.widget-header {
	background: url(../images/shadow.png);
}

.mCSB_inside > .mCSB_container {
	margin-right: 0px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 5px;
	background: #606060;
	margin-right: 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
	background: none;
}

.table-data {
	width: 100%;
}

.table-title td {
	font-family: 'SF-UI-Display-Medium';
	font-size: 12px;
	color: #fff;
}

.table-sort {
	border-collapse: collapse;
}

.table-sort td {
	font-size: 12px;
	color: rgba(255,255,255,0.5)
}

.table-sort tr td {
	border-bottom: 1px solid #111;
}

.table-sort tr:last-child td {
	border: 0;
}

.box-title {
	background: #0f2348;
	height: 44px;
	position: relative;
	border-radius: 4px 4px 0 0;
}

.box-title h3 {
	line-height: 44px;
	font-family: 'SF-UI-Display-Heavy';
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 0 0 50px;
	position: relative;
}

.box-title .box-time {
	position: absolute;
	right: 0px;
	top: 13px;
}

.box-title .SelectBox {
	padding: 0;
}

.box-title .SumoSelect > .CaptionCont {
	background: none;
	border: none;
	color: rgba(255,255,255,0.5);
}

.box-title .SumoSelect > .CaptionCont > label > i {
	height: 5px;
	background: url(../images/arrow-1.png) no-repeat;
}

.box-title .SumoSelect > .CaptionCont > label {
	right: 5px;
}

.box-time label {
	margin-bottom: 0;
}

.list-match .box-title h3:before {
	content: '';
	width: 28px;
	height: 32px;
	background: url(../images/icon-primier-league.png) no-repeat;
	position: absolute;
	top: 6px;
	left: 15px;
}

.panel-group .panel {
	border-radius: 0;
	border: 0;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 0;
}

.panel-group .panel-body {
	padding: 0;
}

.panel-group .panel-title a {
	display: block!important;
	padding: 15px 15px;
	background: #232425;
}

.panel-group .panel-heading {
	padding: 0;
}

.panel-group .panel+.panel {
	margin: 0;
}

.match-item {
	position: relative;
}

.match-item .team-name {
	color: rgba(255,255,255,0.5);
}

.match-item .team-1 {
	width: 50%;
	float: left;
	text-align: right;
	padding-right: 70px;
}

.match-item .team-2 {
	width: 50%;
	float: right;
	text-align: left;
	padding-left: 70px;
}

.match-item .score {
	position: absolute;
	width: 82px;
	height: 28px;
	left: 50%;
	top: 50%;
	margin-left: -41px;
	margin-top: -14px;
	text-align: center;
	background: #111;
	border-radius: 20px;
	color: rgba(255,255,255,0.5);
	line-height: 28px;
}

.match.played .score {
	color: #1b56c0;
}

.match.played .score span {
	position: absolute;
	font-size: 10px;
	color: #1b56c0;
	left: 12px;
	top: 2px;
}

.match-item .label {
	font-family: 'SF-UI-Display-Light';
	font-size: 11px;
	color: #999;
	font-style: italic;
	position: absolute;
}

.match-item .label .sp {
	margin-left: 10px;
	font-size: 11px;
}

.match-item .label-1 {
	color: #ff9400;
	right: 0;
	top: 0;
}

.match-item .label-2 {
	top: 0;
	right: 100px;
}

.match-item .label-3 {
	color: #fe2842;
	right: 0;
	top: 0;
}

.match-item .label-4 {
	color: #999;
	right: 0;
	top: 0;
}

.panel-group .panel:nth-child(even) .panel-title a {
	background: #3b3b3b;
}

.match-info {
	width: 100%;
	background: url(../images/bg-match.jpg) no-repeat;
	background-size: cover;
	padding: 20px 0;
	position: relative;
	min-height: 145px;
}

.match-info .team-1 {
	float: left;
	width: 50%;
	text-align: right;
	padding-right: 100px;
}

.match-info .team-name {
	position: relative;
	top: 6px;
}

.match-info .team-1 .team-name {
	margin-right: 25px;
}

.match-info .team-2 {
	float: right;
	width: 50%;
	text-align: left;
	padding-left: 100px;
}

.match-info .team-2 .team-name {
	margin-left: 25px;
}

.match-info .team-name {
	font-size: 20px;
	text-transform: uppercase;
	color: #999;
}

.match-info .score {
	font-size: 46px;
	color: #999;
	position: absolute;
	width: 160px;
	left: 50%;
	margin-left: -80px;
	text-align: center;
}

.panel-collapse {
	position: relative;
}

.panel-collapse .btn-close {
	width: 31px;
	height: 31px;
	background: url(../images/icon-close.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}

.nav-tabs>li {
  margin-bottom: 0;
  margin-right: 35px;
}

.nav-tabs>li:last-child {
	margin-right: 0;
}

.nav-tabs {
	border: 0;
}

.nav-tabs>li>a {
  border-radius: 0;
  border: 0;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  color: #868686;
  padding: 8px 0 3px 0;
}

.nav-tabs>li>a:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #1b56c0;
  position: absolute;
  bottom: -5px;
  left: 0;
  display: none;
}

.nav-tabs>li.active a {
	color: #1b56c0!important;
}

.nav-tabs>li.active>a:after {
  display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 0;
  background: none!important;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: none!important;
} 

.nav-tabs>li.active .tab-name {
  color: #ee7e22;
}

.tab-name {
	text-align: center;
	background: rgba(0,0,0,0.5);
	margin-top: -38px;
	position: relative;
}

.tab-name ul {
	display: inline-block;
}

.tab-content {
	background: #131618;
}

.ratio {
	text-align: center;
}

.ratio ul {
	overflow: hidden;
	text-align: center;
}

.ratio ul li {
	display: inline-block;
	margin-right: 5px;
}

.ratio ul li:first-child {
	margin-right: 15px;
	color: rgba(255,255,255,0.5);
	margin-left: -30px;
}

.ratio ul li a {
	width: 130px;
	height: 38px;
	background: #303030;
	border-radius: 17px;
	line-height: 37px;
	border: 1px solid #303030;
	color: #1b56c0;
}

.ratio ul li a:hover {
	color: #1b56c0;
}

.ratio ul li.active a {
	border-color: #1b56c0;
	background: #111517;
	color: #1b56c0;
}

.box-guess {
	padding: 35px 0;
}

.list-ratio > li {
	margin-bottom: 20px;
}

.list-ratio > li:last-child {
	margin-bottom: 0;
}

.box-guess .list-button {
	margin: 40px 0 0 0;
	text-align: center;
}

.box-guess .list-button ul {
	display: inline-block;
	overflow: hidden;
}

.box-guess .list-button ul li {
	float: left;
	margin-right: 15px;
}

.box-guess .list-button ul li:last-child {
	margin-right: 0;
}

.box-guess .list-button ul li a {
	font-size: 16px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.5);
	background: #212121;
	border-radius: 20px;
	padding: 9px 40px;
}

.box-guess .list-button ul li a:hover {
	color: #1b56c0;
}

.box-guess .list-button ul li.active a {
	background: #18489f;
	background: -moz-linear-gradient(left, #18489f 0%, #0f2349 100%); 
	background: -webkit-linear-gradient(left, #18489f 0%,#0f2349 100%);
	background: linear-gradient(to right, #18489f 0%,#0f2349 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18489f', endColorstr='#0f2349',GradientType=1 );
}

.box-guess .list-button ul li.active a:hover {
	color: rgba(255,255,255,0.5);
}

.list-ratio {
	margin-bottom: 60px;
}

.ranger-section {
	width: 500px;
	margin: 0 auto 25px auto;
}

.theme-green .back-bar {
	background: #292929;
	height: 4px;
}

.theme-green .back-bar .selected-bar {
	background: #1b56c0;
}

.slider-container .scale span {
	border-left: 0;
}

.slider-container .scale ins {
	font-size: 16px;
	color: #dadada;
	font-family: 'SF-UI-Display-Regular';
	top: -35px;
	left: auto;
	right: 0;
}

.slider-container .scale span:first-child ins {
	left: 0!important;
}

.slider-container .back-bar .pointer-label {
	font-size: 16px;
	background: none;
	top: -29px;
	color: #1b56c0;
}

.theme-green .back-bar .pointer {
	width: 20px;
	height: 20px;
	top: -8px;
}

.theme-green .back-bar .pointer:hover {
	cursor: pointer;
}

.user-action  {
	text-align: center;
}

.user-action ul {
	overflow: hidden;
	display: inline-block;
}

.user-action ul li {
	float: left;
	margin-right: 30px;
	position: relative;
}

.user-action ul li:last-child {
	margin-right: 0;
}

.user-action ul li label {
	color: rgba(255,255,255,0.5);
	font-weight: normal;
	margin-right: 10px;
}

.user-action ul li input {
	outline: none;
	border: 1px solid #2e323e;
	width: 120px;
	height: 28px;
	border-radius: 20px;
	padding: 0 10px;
	background: none;
	font-size: 16px;
	color: #1b56c0;
	position: relative;
}


.user-action ul li:after {
	content: '';
	width: 13px;
	height: 13px;
	position: absolute;
	top: 7px;
	right: 10px;
}

.user-action ul li:first-child:after {
	background: url(../images/icon-2.png) no-repeat;
}

.user-action ul li:last-child:after {
	background: url(../images/icon-3.png) no-repeat;
}

.block-info {
	background: #14171a;
	border-radius: 4px;
}

.block-info h3 {
	padding-left: 30px;
}

.thumb-img {
  padding-top: 100%;
  position: relative;
}

.thumb-img .global-figure {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.thumb-img .global-image {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background: #000;
}

.thumb-img .global-image span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  
}

.article-info {
	background: #232425;
	padding: 35px;
	border-radius: 0 0 4px 4px;
	margin-bottom: 10px;
}

.article-info .box-img {
	width: 95px;
	float: left;
	margin: 4px 25px 0 0;
}

.thumb-img .global-image {
	background: none;
}

.article-info  .thumb-img .global-image span {
	border-radius: 50%;
}

.article-info .info {
	width: 490px;
	float: left;
}

.article-info .info p {
	color: #fff;
	margin-bottom: 16px;
	font-size: 16px
}

.article-info .info p > span {
	font-family: 'SF-UI-Display-Bold';
	width: 100px;
	color: rgba(255,255,255,0.5);
	font-size: 16px;
}

.article-info .info p > span.ratio {
	width: auto;
	color: #636465;
	margin-left: 20px;
}

.article-info .info .gold {
	position: relative;
	display: inline-block;
}

.article-info .info .gold:after {
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	background: url(../images/icon-2.png) no-repeat;
	top: 5px;
	right: -25px;
}

.article-info .action {
	float: right;
}

.article-info .action a {
	width: 150px;
	height: 42px;
	border: 1px solid #585959;
	text-align: center;
	line-height: 42px;
	border-radius: 20px;
	text-transform: uppercase;
	font-family: 'SF-UI-Display-Bold';
	font-size: 16px;
	color: #585959;
}

.article-info .action a:hover {
	color: #1b56c0;
	border-color: #1b56c0;
}

.article-info .action ul li:first-child {
	margin-bottom: 10px;
}

.block-data .nav-tabs {
	background: #232425;
	padding-left: 25px;
	border-radius: 4px;
	margin-bottom: 5px;
}

.block-data .nav-tabs li {
	margin-right: 20px;
}

.block-data .nav-tabs li a {
	padding: 15px 10px;
}

.block-data .nav-tabs li.active a {
	background: #14171a!important;
	color: #fff!important;
}

.block-data .nav-tabs>li>a:after {
	bottom: 1px;
}

.table-data-1 {
	color: rgba(255,255,255,0.5);	
}

.table-data-1 tr:first-child th:first-child {
	border-radius: 4px 0 0 0;
}

.table-data-1 tr:first-child th:last-child {
	border-radius: 0px 4px 0 0;
}

.table-data-1 tr:last-child td:first-child {
	border-radius: 0px 0 0 4px;
}

.table-data-1 tr:last-child td:last-child {
	border-radius: 0px 0 4px 0px;
}


.table-data-1 tr:nth-child(odd) {
	background: #232425;
}

.table-data-1 tr:nth-child(even) {
	background: #3b3b3b;
}

.table-data-1 tr th {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	padding: 12px 0;
}

.table-data-1 tr td {
	font-size: 16px;
}

.table-data-1 tr th:nth-child(1),
.table-data-1 tr td:nth-child(1) {
	width: 100px;
	text-align: center;
}

.table-data-1 tr th:nth-child(2),
.table-data-1 tr td:nth-child(2) {
	width: 350px;
	text-align: center;
}

.table-data-1 tr th:nth-child(3),
.table-data-1 tr td:nth-child(3) {
	width: 220px;
	text-align: center;
}

.table-data-1 tr th:nth-child(4),
.table-data-1 tr td:nth-child(4) {
	width: 220px;
	text-align: center;
}

.table-data-1 .match {
	position: relative;
}

.table-data-1 .match .team-1 {
	width: 50%;
	float: left;
	text-align: right;
	padding-right: 55px;
}

.table-data-1 .match .team-2 {
	width: 50%;
	float: right;
	text-align: left;
	padding-left: 55px;
}

.table-data-1 .match .score {
	width: 76px;
	height: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -38px;
	margin-top: -13px;
	background: #111;
	border-radius: 17px;
	line-height: 26px;
}

.table-data-1 tr td {
	padding: 12px 0 11px 0;
}

.table-data-1 .match .team-name {
	font-size: 16px;
}

.box-guess.modal-content {
	padding: 0;
	border-radius: 7px;
	background: #1e1e1e;
}

.modal-content h4 {
	font-family: 'SF-UI-Display-Heavy';
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 18px;
}

.modal-body {
	padding-top: 30px;
}

.modal-body > p {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
	color: #666;
}

.modal-body > p img {
	margin-top: -2px;
	margin-right: 5px;
}

.modal-body > p > span {
	color: #1b56c0;
	font-size: 18px;
}

.modal-header {
	background: #0f2348;
	border-radius: 6px 6px 0 0;
	border: none;
}

.modal-footer {
	border: none;
}

.modal-content .match {
	overflow: hidden;
	position: relative;
}

.modal-content .list-button {
	margin: 0;
}

.modal-content .match .team-1 {
	width: 50%;
	float: left;
	padding-left: 50px;
}

.modal-content .match .team-2 {
	width: 50%;
	float: right;
	padding-right: 50px;
	text-align: right
}

.modal-content .match img {
	margin: 0 0 15px 0;
}

.modal-content .match span {
	display: block;
	text-transform: uppercase;
	color: rgba(255,255,255,0.5);
}

.modal-content .notes {
	width: 300px;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 20px;
}

.modal-content .notes > p {
	font-size: 16px;
	color: #666;
	margin-bottom: 20px;
}

.modal-content .notes > p > a {
	width: 71px;
	height: 26px;
	background: url(../images/label-share.png) no-repeat;
}

.modal {
  padding-right: 0!important;
}

.modal-open {
  overflow:auto;
  padding-right:0 !important;
}